<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link href="/static/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <div class="px-4 py-5 my-5 text-center">
        <h1 class="display-5 fw-bold">Hare Matcher - Log in</h1>
    </div>

    <div th:if="${(error != '')}">
        <div th:if="${(error == 'other')}">
            Unknown error, please try again
        </div>
        <div th:if="${(error == 'invalid')}">
            Invalid credentials
        </div>
        <div th:if="${(error == 'nocredentials')}">
            Please enter credentials
        </div>
        <br>
    </div>

    <form action="/login" method="post">
        <div class="mb-3">
            <label class="form-label" for="email">Email address</label>
            <input class="form-control" id="email" name="email" th:value="${email}" type="email">
        </div>

        <div class="mb-3">
            <label class="form-label" for="password">Password</label>
            <input class="form-control" id="password" name="password" type="password">
        </div>

        <button class="btn btn-primary" type="submit">Submit</button>
    </form>
</div>
</body>
<script src="/static/bootstrap.bundle.min.js"></script>
</html>