<!DOCTYPE html >
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <link href="/static/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<div class="px-4 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold">Profile of <span th:text="${user.name}"></span></h1>
</div>

<a rel="nofollow" th:href="@{'users/' + ${user.id}}">Delete</a>

</body>
<script src="/static/bootstrap.bundle.min.js"></script>
<script th:inline="javascript">

</script>
</html>
