<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Signup</title>
    <link href="/static/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <div class="px-4 py-5 my-5 text-center">
        <h1 class="display-5 fw-bold">Hare Matcher - Sign up</h1>
    </div>

    <form action="/users" method="post">
        <div class="mb-3">
            <label class="form-label" for="email">Email address</label>
            <input aria-describedby="emailHelp" class="form-control" id="email" name="email" type="email">
            <div class="form-text" id="emailHelp">We'll never share your email with anyone else.</div>
        </div>

        <div class="mb-3">
            <label class="form-label" for="name">Name</label>
            <input class="form-control" id="name" name="name" type="text">
        </div>

        <div class="mb-3">
            <label class="form-label" for="password">Password</label>
            <input class="form-control" id="password" name="password" type="password">
        </div>

        <button class="btn btn-primary" type="submit">Submit</button>
    </form>
</div>
</body>
<script src="/static/bootstrap.bundle.min.js"></script>
</html>